.header {
  width: 1052px;
  margin: 92px auto;
  padding: 0 24px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  font-size: 18px;
}

.header_links-list {
  display: flex;
  list-style: circle;
  margin-top: 41px;
  gap: 33px;
  text-underline-offset: 4px;
  margin-left: -2px;
}

.header_links-list-item_no-bullit {
  list-style: none;
  margin-left: 6px;
}

.header_logo {
  display: block;
  width: 133px;
  height: 105px;
}

.address_item {
  padding-top: 4px;
  list-style: none;
  text-underline-offset: 4px;
  margin-left: 3px;
}

.address {
  display: flex;
  justify-self: end;
  width: 240px;
  margin-right: 3px;
  line-height: 1.35;
  font-style: normal;
}

.cover {
  width: 1100px;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.overlay {
  position: absolute;
  background-color: rgb(0 0 0 / 0.5);
  height: 100%;
  width: 100%;
  z-index: 0;
  inset: 0;
}

.cover_title {
  width: 1100px;
  padding: 165px 50px 124px;
  font-family: Raleway, serif;
  color: white;
  font-size: 100px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  line-height: 1.22;
  position: relative;
  z-index: 1;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
  line-height: 1.24;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0em;
}

.letter-spacing-extended-close {
  letter-spacing: 0.3em;
}

.cover_description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  gap: 77px;
  margin-left: 69px;
  position: relative;
  z-index: 2;
}

.cover_description-text {
  color: white;
  font-family: Raleway, serif;
  font-size: 22px;
  font-weight: normal;
  word-spacing: 18.9px;
  text-transform: uppercase;
  margin-left: 9px;
}

.bet-button {
  color: white;
  font-family: Raleway, sans-serif;
  width: 256px;
  height: 51px;
  text-transform: uppercase;
  font-size: 22px;
  margin-right: 7.9px;
  background-color: transparent;
  border: 1px solid white;
}

.lots {
  width: 1052px;
  padding: 179.2px 25px 0px;
  flex-wrap: wrap;
}

.lots_heading {
  font-size: 40px;
  margin-left: 40px;
  text-transform: uppercase;
}

.lots_card-list {
  display: flex;
  list-style: none;
  gap: 25px;
  padding-top: 30px;
}

.card-link {
  display: block;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  padding: 49px 40.8px 46px;
  width: 334px;
  min-height: 560px;
  line-height: 1.2;
  background-position: center;
  background-size: cover;
}

.card_title {
  color: white;
  position: relative;
  font-size: 22px;
  z-index: 2;
  text-transform: uppercase;
  text-decoration: underline;
}

.card_text {
  color: white;
  font-size: 20px;
  position: relative;
  z-index: 2;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots_look-more-link {
  display: block;
  margin-top: 31px;
  margin-left: 40px;
  font-size: 20px;
  text-underline-offset: 4px;
  color: black;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  position: relative;
  padding: 185px 27px 176px;
}

.about_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  margin-left: 45px;
}

.about_logo-image {
  width: 61.9%;
  height: auto;
  padding-bottom: 1px;
}

.about_column {
  grid-column: 2 / 4;
  max-width: 700px;
}

.about_heading {
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #000;
  margin-top: 100px;
}

.about_descriptions {
  display: grid;
  gap: 25px;
  margin-top: 99px;
}

.about_description {
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.2;
  word-spacing: 0.2px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 0px 48px;
  font-size: 18px;
  width: 1000px;
}

.footer_main-list-item {
  text-align: center;
  list-style: none;
  margin-right: 5px;
}

.footer_main-link {
  text-underline-offset: 4px;
}

.footer_social-media-list {
  display: flex;
  flex-direction: row;
  gap: 47px;
  margin-top: 2px;
}

.footer_social-media-icon {
  width: 47.6px;
  height: 49px;
}

.footer_main-list {
  padding-left: 5px;
  padding-top: 4.3px;
}
